body{
    background-image: url('images/bg.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#clock{
    background-image: url('images/clock.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 35vw;
    height: 35vw;
    position: absolute;
    left: 33%;
    top: 16%;
}

#hours{
    background-color: #000000;
    position: absolute;
    width: 0.8vw;
    height: 23%;
    border-radius: 10px;
    left: 48.81%;
    top: 27.5%;
    transform-origin: bottom;
}

#minutes{
    background-color: #000000;
    position: absolute;
    width: 0.6vw;
    height: 31%;
    border-radius: 10px;
    left: 48.95%;
    top: 18.7%;
    transform-origin: bottom;
}

#seconds{
    background-color: #000000;
    position: absolute;
    width: 0.4vw;
    height: 37%;
    border-radius: 10px;
    left: 49.3%;
    top: 13.5%;
    transform-origin: bottom;
}